.list {
  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  margin-top: 40px;
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 440px) {
  .list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
